<a href="https://colab.research.google.com/github/dmorton714/data_2024/blob/main/week_2_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What are Lists in Python?

**Objective:** Introduce the concept of lists in Python.

Explanation:

A list is a collection of items (elements) that are ordered, changeable, and allow duplicate elements.
Lists are written with square brackets [].
Example:

```python
fruits = ["apple", "banana", "cherry"]
```

Activity:

- Create lists of favorite books, cities, or colors.
- Print the list and check its type using `type()`.

In [1]:
colors = ["purple", "black", "grey", "gold"]
print(colors)

['purple', 'black', 'grey', 'gold']

In [2]:
type(colors)

list

# Using an Index to Access Lists

**Objective:** Teach how to access list elements using their index.

Explanation:

Lists are zero-indexed, meaning the first element has an index of 0.
Negative indexing can be used to access elements from the end of the list.
Example:

```python
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple
print(fruits[-1])  # Output: cherry
```

Activity:

- Access different elements from your list using positive and negative indexes.
- Practice with a out-of-range indices and note what happened.

In [3]:
fruits = ["apple", "banana", "cherry"]
fruits[1]

'banana'

In [4]:
fruits[50]

IndexError: list index out of range

# Important Functions and Methods for Lists

**Objective:** Familiarize students with essential list functions and methods.

Explanation:

Common list methods:
- `append()`: Add an item at the end.
- `insert()`: Insert an item at a specific index.
- `remove()`: Remove a specific item.
- `pop()`: Remove an item at a specific position (or the last one if no index is provided).
- `sort()`: Sort the list.

Example:

```python
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)  # Output: ["apple", "cherry", "orange"]
```

Activity:

- Modify your lists using different methods (add, remove, and sort elements).
- Practice `pop()` to see how it returns and removes an element.

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [5]:
fruits.remove("banana")
fruits

['apple', 'cherry', 'orange']

In [6]:
fruits.sort()
fruits

['apple', 'cherry', 'orange']

In [7]:
fruits.pop()
fruits

['apple', 'cherry']

In [8]:
fruits.pop()
fruits

['apple']

# Iterating Using the for Loop

**Objective:** Teach how to iterate over lists using for loops.

**Explanation:**

A for loop allows you to go through each element in a list.
It repeats the block of code for every element.

Example:

```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

Activity:

- Write a for loop that prints each element of their lists.
- Combine a for loop with an if condition (e.g., print only fruits starting with "a").

In [9]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [10]:
for fruit in fruits:
    if fruit.startswith("a"):
        print(fruit)

apple

In [11]:
fruits.append("avocado")
fruits

['apple', 'banana', 'cherry', 'avocado']

In [12]:
for fruit in fruits:
    if fruit.startswith("a"):
        print(fruit)

apple
avocado

# Using Ranges to Create Sequences of Numbers

**Objective:** Learn how to generate a range of numbers and use them in loops.

Explanation:

`range(start, stop, step)` generates numbers in a sequence.
It’s often used in for loops when working with indices or generating sequences.
Example:

```python
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4
```

**Activity:**

- Write a loop that uses `range()` to print numbers from 1 to 10.
- Use a step of 2 to print every second number.

In [16]:
for number in range(2,11,2):
    print(number)

2
4
6
8
10

In [18]:
for number in range(1,11,2):
    print(number)

1
3
5
7
9

# Sequences

**Objective:** Understand sequences and their shared characteristics.

**Explanation:**

Lists, strings, and tuples are all sequences in Python.
Sequences support common operations like indexing, slicing, and iteration.
Example:

```python
sequence = [1, 2, 3, 4, 5]
print(sequence[0])  # Output: 1
```

Activity:

- Create sequences using different data types (list, string, tuple).
- Discuss similarities between lists and other sequences (e.g., strings can be indexed similarly).

In [17]:
my_list = [1, 2, 3, 4, 5]
my_string = "Hello, World!"
my_tuple = (10, 20, 30)
sequence = [my_list, my_string, my_tuple]
sequence

[[1, 2, 3, 4, 5], 'Hello, World!', (10, 20, 30)]

In [18]:
sequence[0]

[1, 2, 3, 4, 5]

In [19]:
sequence[1]

'Hello, World!'

In [20]:
# prints the tuple but only the item in the second position
sequence[2][2]

30

# Slicing

**Objective:** Learn how to extract subsets of a list using slicing.

**Explanation:**

Slicing allows you to extract parts of a list (or any sequence) using start:end:step.
start is inclusive, but end is exclusive.
Example:

```python
numbers = [0, 1, 2, 3, 4, 5]
print(numbers[1:4])  # Output: [1, 2, 3]
```

**Activity:**

- Extract a subset of their list using slicing.
- Try slices with different step values (e.g., reverse the list with [::-1]).

In [21]:
numbers = [0, 1, 2, 3, 4, 5]
numbers[1:4]

[1, 2, 3]

In [22]:
numbers[::-1]

[5, 4, 3, 2, 1, 0]

# List Comprehension

**Objective:** Introduce list comprehension for creating new lists in a concise way.

**Explanation:**

List comprehension offers a shorter syntax to create new lists based on existing ones.
Example:

```python
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares)  # Output: [1, 4, 9, 16, 25]
```

**Activity:**

- create a new list using list comprehension, e.g., a list of squares or even numbers.
- ***Challenge*** include an if condition in the comprehension, such as filtering out odd numbers.

In [29]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
squares

[1, 4, 9, 16, 25]

In [23]:
squares = [x**2 for x in numbers if x % 2 == 0]
squares

[0, 4, 16]

# Final Exercise:

Create a program that:
- Asks the user to input a list of numbers  
- Then prints the list.
- Slices and prints the first 3 elements
- Uses list comprehension to print the square of each number.

In [2]:
numbers = input("Enter a list of numbers separated by spaces: ")
numbers_list = numbers.split()
print(numbers_list)

['3', '6', '9']

In [24]:
numbers = input("Enter a list of numbers separated by spaces: ")
numbers_list = numbers.split()
for number in numbers_list:
    squared_number = int(number) ** 2
    print(squared_number)

25
49
100
1089

# Bonus

### FizzBuzz Instructions:

1. Objective: Write a program that prints the numbers from 1 to 100.
    - But for multiples of 3, print "Fizz" instead of the number
  - For multiples of 5, print "Buzz."
  - For numbers which are multiples of both 3 and 5, print "FizzBuzz."

2. Using the Modulus Operator (%):
  - The modulus operator is key to determining whether a number is divisible by another number. It returns the remainder of a division.


3. Steps:

  - Loop through numbers from 1 to 100.
  - For each number, use the modulus operator to check:
  - If it is divisible by both 3 and 5, print "FizzBuzz."
  - If it is divisible only by 3, print "Fizz."
  - If it is divisible only by 5, print "Buzz."
  - Otherwise, print the number itself.